<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<body>
	<h2>Vet</h2>
	<form th:object="${vet}" class="form-horizontal" id="add-vet-form" method="post">
		<div class="form-group has-feedback">
			<input
				th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Specialties</label>
				<div class="col-sm-10">
					<div>
						<select multiple class="form-control" id="specialties" name="specialties" size="3">
							<option th:each="specialty : ${specialties}" th:value="${specialty.id}" th:text="${specialty.name}"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default" type="submit">Add Vet</button>
			</div>
		</div>
	</form>
</body>	
</html>